@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url("reset.css");

body {
	font-family: "Roboto", sans-serif;
    color: #6f7cb2;
	background-color: #fff;
}





.wrapper {
	min-height: 100%;
	overflow: clip; /* clip */

	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}

/* --------------------- */

[class*="__container"] {
	max-width: 1140px;
	padding-inline: 15px;
	margin: 0 auto;
}


/* button */

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;   
    text-align: center;
    color: #fff;
    background-color: #111b47;
    border-radius: 2px;
    padding: 4px;
    transition: 0.3s;
}

@media (any-hover: hover){
    .button:hover{
        background-color: #e35519;
        color: #111b47;
        transform: scale(1.05);
    }
}


/* загальні стилі для секцій */

.section-title{ 
    font-weight: 500;
    font-size: 36px;
    line-height: 1.33;
    color:  #091133;
    margin-block-end: 16px;
}

@media(max-width: 600px){
    .section-title{
        font-size: 30px;
    }
}




/* header */

.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    padding: 12px 0;
    background-color: rgba(255, 255, 255, 0.8);
}

.header__container{

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    gap: 15px;
}

@media(max-width: 600px){
    .header__container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* display: flex;
        flex-wrap: wrap;
        justify-content: space-between; */
        gap: 20px;
    }
}


@media(max-width: 600px){
    .menu-body{
    position: fixed;
    inset-block-start: 0;
    inset-inline-start: 100%;
    inline-size: 100%;
    block-size: 100%;
    z-index: 3;

    transition: inset-inline-start 0.3s;
    overflow: auto;
    padding: 100px 15px 30px;
    background-color:  #e7ecff;

    }
}

@media (max-width: 600px){
    .menu-body::before{
        content: "";
        position: fixed;
        inset-block-start: 0;
        inset-inline-start: 100%;
        inline-size: 100%;
        block-size: 80px;
        transition: inset-inline-start 0.3s;
        background-color:  #e7ecff;
        z-index: 4;

    }
}

.menu{
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 15px;
    font-size: 14px;
    line-height: 1.7;
    color: #505f98;
}

@media (any-hover: hover){
    .menu a:hover{
        color: #111b47;
        text-decoration: underline;
    }
}


@media(max-width: 600px){
    .menu__link--active{
        text-decoration: underline;
    }
}

@media(max-width: 767px){
    .menu-body .menu{
        column-gap: 30px;
    }
}

@media(max-width: 600px){
    .menu-body .menu{
        flex-direction: column;
        align-items: flex-end;
        row-gap: 40px;
        font-size: 25px;
    }
}

.header__link{
    position: relative;
    z-index: 5;
}

.header__link,
.footer__logo{
    justify-self: center;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.46;
    color: #37447e;
}

.header__actions{
    justify-self: end;
    display: flex;
    gap: 20px;

}

.header__button{
    position: relative;
    z-index: 5;
    flex: 0 0 160px;
    font-size: 12px;
    line-height: 1.5;
}

@media(max-width: 386px){
    .header__button{  
       flex: 0 0 110px;
    }
}

.button-mob{
    position: relative;
    z-index: 5;
    flex-shrink: 0;
    flex-basis: 40px;
    aspect-ratio: 1;
    display: none;
    flex-direction: column;
    border: 3px solid  #111b47;;
    border-radius: 6px;
    padding: 10px
}

@media (max-width: 600px){
    .button-mob{
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

.button-mob span{
    margin-block: 4px;
}

.button-mob span,
.button-mob::before,
.button-mob::after{
    content: "";
    height: 2px;
    width: 100%;
    border-radius: 1px;
    background-color:  #111b47;
    transition: 0.3s;
}

.open-menu body {
  overflow: hidden;
}
/* для вимкнення прокручування сторінки, 
коли меню бургер відкрите */

.open-menu .menu-body,
.open-menu .menu-body::before {
	inset-inline-start: 0;
}


.open-menu .icon-menu span {
	width: 0;
	height: 0;
	margin: 0;
}

.open-menu .icon-menu::before {
	transform: rotate(45deg) translateY(1.5px);
}

.open-menu .icon-menu::after {
	transform: rotate(-45deg) translateY(-1.5px);
}





/* hero */


.hero{
    padding-block: 245px 65px;
}

@media(max-width: 767.98px){
    .hero{
    padding-block: 100px 65px;
}
}

.hero__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 90px;
    
    row-gap: 20px;

}

@media(max-width: 1139.98px){
    .hero__container{
        column-gap: 20px;
    }
}

@media(min-width: 768px){
    .hero__container{
        flex-wrap: nowrap; 
    }
}

.hero__content{
    flex: 1 1 540px;
    
}

@media(min-width: 768px){
    .hero__content{
        flex: 0 1 540px;
        padding-block-start: 58px;
    }
}

.hero__content h1{
    font-weight: 500;
    font-size: 50px;
    line-height: 1.32;
    letter-spacing: 0.02em;
    color: #091133;
    margin-block-end: 20px;
}

.hero__text{
    font-size: 18px;
    line-height: 1.67;
    color:  #505f98;
    margin-block-end: 69px;
}

@media(max-width: 600px){
    .hero__content h1{
        font-size: 34px;
    }

    .hero__text{
    font-size: 14px;
    line-height: 1.67;
}
}


.hero__text p:not(:last-child){
    margin-block-end: 19px;
}


.hero__image{
    
    position: relative;
    flex: 0 1 975px;
    aspect-ratio: 975 / 780;
}

@media(min-width: 768px){
    .hero__image{
        margin-right: -495px;
    }
}

.hero__image::before{
    content: "";
    position: absolute;
    top: -40%;
    left: -38%;
    width: 152.82%;
    height: 148.84%;
    z-index: -1;
    aspect-ratio: 1490 / 1161;
    background: url(../img/landing-page/hero-bg.svg) 0 0 / contain no-repeat;
}

.hero__image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.hero__buttons{
    display: flex;
    gap: 30px;
}

.button--black{
    line-height: 1.63;
    flex-basis: 189px;
}

.button--white{
    display: flex;
    justify-content: center;
    flex-basis: 189px;
    line-height: 1.63;
    font-weight: 500;   
    text-align: center;
    color: #091133;
    background-color: transparent;
    border: 2px solid #091133;
    border-radius: 2px;
    padding: 4px;
}


/* light */

.light-first{
    padding-block: 109px;
}

.light-second{
    padding-block: 122px 130px;
}

.light-third{
    padding-block: 91px 114px;
}

.light-fourth{
    padding-block: 142px 163px;
}

@media (max-width: 939px){
    .light-first,
    .light-second,
    .light-third,
    .light-fourth{
        padding-block: 40px;
    }
}

.light__content{
    display: grid;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(445px, 1fr));
}

@media(max-width: 939.98px){
    .light__content{
        grid-template-columns: 1fr;
}
}

.light__img--small{
    align-self: center;
    justify-self: center;
    aspect-ratio: 445 / 312;
}

.light__img--medium{
    align-self: center;
    justify-self: center;
    aspect-ratio: 480 / 316;
}

.light__img--big{
    align-self: center;
    justify-self: center;
    aspect-ratio: 540 / 387;
}

.light__img--bigger{
    align-self: center;
    justify-self: center;
    aspect-ratio: 540 / 524;
}

.light__img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.light__materials{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

@media (max-width: 939.98px){
    .light__materials{
        flex-wrap: wrap;
        justify-content: center;
}
}

.light__box{
    padding-block-start: 50px;
    flex: 0 0 540px;
}



@media (max-width: 939.98px){
    .light__box{
        flex: 1 1 540px;
    }
}

.light__text--first{
    margin-block-end: 80px;
    line-height: 1.63;
}

@media (max-width: 600px){
    .light__text--first{
        font-size: 14px;
        margin-block-end: 30px;
    }
}


.light__text--width{
    justify-self: end;
    max-width: 445px;
    line-height: 1.63;
}

@media(max-width: 939.98px){
    .light__text--width{
        justify-self: center;
        max-width: 100%;
    }
}

@media(max-width: 600px){
    .light__text--width{
        font-size: 14px;
    }
}

.light__text-title{
    margin-block-end: 16px;
}

.light__text p:first-of-type{
    margin-block-end: 10px;
}

.light-fourth .light__text p:last-of-type{
    margin-block-end: 40px;
}

/* card */

.light__card{
    display: flex;
    gap: 30px;
}

.card__content{
    flex: 0 0 255px;
   
}

@media (max-width: 939.98px){
        .card__content{
        flex: 1 1 255px;
    }
}

.card__img{
    width: 36px;
    aspect-ratio: 1;
    margin-block-end: 14px;
}

.card__img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card__title{
    font-weight: 500;
    line-height: 1.63;
    color:  #091133;
    margin-block-end: 6px;
}

.card__content p{
    font-size: 12px;
    line-height: 1.5;
    color:  #5d6970;
}


.button-light{
    min-width: 150px;
    justify-self: start;
    font-size: 14px;
    line-height: 1.71;
}

/* price */

.price{
    position: relative;
    padding-block: 237px 172px;   
    background: url(../img/landing-page/price-bg.svg) top center / cover no-repeat ;
    width: 100%;
    height: 100%;
}

@media(max-width: 767.98px){
    .price{
        padding-block: 100px 70px;
    }
}

.price::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #f3f5ff;
}

.price__content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 600px));
    justify-content: center;
    text-align: center;
}

.price__text{
    line-height: 1.63;
}

@media(max-width: 600px){
    .price__text{
        font-size: 14px;
    }
}

.price__text--margin{
    text-align: center;
    margin-block-end: 36px;
}

@media(max-width: 600px){
    .price__text--margin{
        margin-block-end: 20px;
    }
}



.price__price{
    font-weight: 500;
    font-size: 50px;
    line-height: 1.32;
    letter-spacing: 0.02em;
    text-align: center;
    color:  #222f65;
}

.price__text--margin-ui{
    margin-block-end: 60px;
}

@media(max-width: 600px){
    .price__text--margin-ui{
    margin-block-end: 20px;
}
}

.price__text--gray{
    font-size: 14px;
    line-height: 1.71;
    color: #5d6970;;
    margin-block-end: 9px;
}

.price__button{
    justify-self: center;
    min-width: 189px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
}


/* footer*/

.footer{
    background-color: #e7ecff;
}

.footer__body{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    color: #939ea4;
    padding-block: 61px 40px;
    border-block-end: 1px solid  #cdd1d4;
}

@media(min-width: 385px){
    .footer__body{
        grid-template-columns: 1fr auto 1fr;
    }
}

.footer__button{
    justify-self: end;
    min-width: 109px;
    font-size: 12px;
    line-height: 1.5;
}

@media(max-width: 384px){
    .footer__button{
        grid-column: span 2;
        justify-self: center;
    }
}


.footer-social{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    gap: 30px;
    padding-block: 20px 32px;
}

@media(min-width: 504px){
    .footer-social{
    justify-content: space-between;
}
}

.menu--color{
   color: #929ecc;
}

.social{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
}

.social a{
    width: 16px;
    aspect-ratio: 1;
    color: #B0B8BC;
    transition: 0.3s;
}

@media (any-hover: hover){
    .social a:hover{
        color: #111b47;
    }
}













